/* define vars */
:root {
    --bg-color: #f1f1f1;
}

body {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#notifications img {
    max-width: 80vw;
    -webkit-tap-highlight-color: transparent;
}
#notifications {
    -webkit-tap-highlight-color: transparent;
}

DATABASE_URL=mysql://raphael:aecooFahB0ir@localhost:3306/raphael_authopless?serverVersion=mariadb-10.5.15
